html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
header{
    background-color:rgb(235, 138, 20);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
a{
    font-size: 20px;
    font-family: 'Pattaya', sans-serif;
    color: rgb(31, 31, 141);
    text-decoration: none;
    margin: 20px;
}

h1{
    font-family: 'Pattaya', sans-serif;
    font-size: 40px;
    text-align: center;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: chartreuse;
}

@media screen and (max-width:900px) and (min-width:600px){
    h1{
        font-size: 32px;
    }
    body{
        background-color: rgb(255, 80, 138);
    }
}

@media screen and (max-width:600px){
    h1{
        font-size: 24px;
    }
    body{
        background-color: cyan;
    }
    
}
@media screen and (max-width:452px){
    nav{
        display: none;
    }
    img{
        width: 35px;
        height: 35px;
    }
    header{
        display: flex;
        justify-content: flex-end;
    }

}
@media screen and (min-width:452px){
    img{
        display: none;
    }
    
}