html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(59, 59, 59);
}
.casco {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cb2140;
  width: 415px;
  height: 580px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 510px;
  height: 500px;
  background-color: #0c1f2c;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 40px;
}
span {
  border: 1px solid red;
  border-radius: 25px;
  font-size: x-small;
  padding: 6px;
  margin: 5px;
}

button {
  background-color: #cb2140;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: white;
}
h2 {
    font-weight: 100;
    font-size: xx-large;
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
  .casco {
    width: 580px;
    height: 415px;
  }
  .card {
    width: 500px;
    height: 510px;
    align-items: center;
    text-align: center;
  }
}
